<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">CMR-App. Welcome!</a>
    <div *ngIf="!authToken" class="my-2 my-sm-0">
      <a class="btn btn-secondary my-2 my-sm-0" routerLink="/signup">Sign Up</a>
      <a class="btn btn-secondary my-2 my-sm-0" routerLink="/login">Log In</a>
    </div>
    <div *ngIf="authToken" class="my-2 my-sm-0">
      <h4>Hello, {{firstName}}</h4>
      <a class="btn btn-secondary my-2 my-sm-0" routerLink="/shipments">Shipments</a>
      <a class="btn btn-secondary my-2 my-sm-0" routerLink="/createShipment">Create Shipment</a>
      <a class="btn btn-secondary my-2 my-sm-0" href="/hauliers">Hauliers</a>
      <a class="btn btn-secondary my-2 my-sm-0" href="/createHaulier">Create Haulier</a>
      <a class="btn btn-secondary my-2 my-sm-0" href="/reminders">Reminders</a>
      <button (click)="logOut()" type="button" class="btn btn-secondary my-2 my-sm-0">Log Out</button>
    </div>
</nav>