<div class="container">
  <h1>Sign Up</h1>
  <br/>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <fieldset>
          <div class="form-group">
              <label>
                  <h5>Email Address (Username)</h5>
                  <input [(ngModel)]="user.username" type="email" email class="form-control-lg" name="username" id="username" placeholder="Enter email" required />
              </label>
          </div>
          <div class="form-group">
              <label>
                  <h5>Password</h5>
                  <input [(ngModel)]="user.password" type="password" class="form-control-lg" name="password" id="password" placeholder="Enter password" required />
              </label>
          </div>
          <div class="form-group">
              <label>
                  <h5>First Name</h5>
                  <input [(ngModel)]="user.firstName" type="text" class="form-control-lg" name="firstName" id="firstName" placeholder="Enter your first name" required />
              </label>
          </div>
          <div class="form-group">
              <label>
                  <h5>Last Name</h5>
                  <input [(ngModel)]="user.lastName" type="text" class="form-control-lg" name="lastName" id="lastName" placeholder="Enter your last name" required />
              </label>
          </div>
          <button [disabled]="!userForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
  </form>
</div>