<div>
  <h3 *ngIf="shipments.length === 0">There are no shipments to work with!</h3>
  <table *ngIf="shipments.length > 0" class="table table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col">Customer</th>
        <th scope="col">Haulier</th>
        <th scope="col">Trailer</th>
        <th scope="col">Loading Address</th>
        <th scope="col">Unloading Address</th>
        <th scope="col">Delivery Date</th>
        <th scope="col">Project ID</th>
        <th scope="col">Shipment ID</th>
        <th scope="col">Invoice Nr</th>
        <th scope="col">Invoice Amount</th>
        <th scope="col">Invoice Currency</th>
        <th scope="col">Project Resp.</th>
        <th scope="col">Requested Date</th>
        <th scope="col">Status</th>
        <th scope="col">Documents Needed</th>
        <th scope="col">Received Date</th>
        <th scope="col">Resp. Person</th>
        <th scope="col">Notes</th>
        <th scope="col">Reminder Date</th>
        <th scope="col">Invoice Nr Missing CMR</th>
        <th scope="col">Modify</th>
      </tr>
    </thead>
    <tbody *ngFor="let shipment of shipments">
      <tr>
        <td>{{shipment.customer}}</td>
        <td>{{shipment.haulier}}</td>
        <td>{{shipment.trailer | uppercase}}</td>
        <td>{{shipment['loading-address']}}</td>
        <td>{{shipment['unloading-address']}}</td>
        <td>{{shipment['delivery-date'] | date:"dd/MM/yyyy"}}</td>
        <td>{{shipment['project-id']}}</td>
        <td>{{shipment['shipnment-id']}}</td>
        <td>{{shipment['invoice-nr']}}</td>
        <td>{{shipment['invoice-amount']}}</td>
        <td>{{shipment['invoice-currency']}}</td>
        <td>{{shipment['project-resp']}}</td>
        <td>{{shipment['requested-date'] | date:"dd/MM/yyyy"}}</td>
        <td>{{shipment.status}}</td>
        <td>{{shipment['documents-needed'].join(', ')}}</td>
        <td>{{shipment['received-date'] | date:"dd/MM/yyyy"}}</td>
        <td>{{shipment._acl.creator}}</td>
        <td>{{shipment['notes-internal']}}</td>
        <td>{{shipment['reminder-date'] | date:"dd/MM/yyyy"}}</td>
        <td>{{shipment['invoice-nr-missing-cmr']}}</td>
        <td>
            <a routerLink="shipments/{{shipment['shipment-id']}}">Open</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>