<div>
  <h3 *ngIf="hauliersMissingDocs.length === 0">There are no missing documents!</h3>
    <table *ngIf="hauliersMissingDocs.length > 0" class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">Haulier Name</th>
          <th scope="col">Nr of Shipments with Missing Documents</th>
          <th scope="col">List Shipments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let haulierMissing of hauliersMissingDocs">
          <td>{{haulierMissing.name}}</td>
          <td>{{haulierMissing.shipments.length}}</td>
          <td><button type="button" class="btn btn-link btn-sm" (click)="displayTable(haulierMissing.id)">List</button></td>
        </tr>
      </tbody>
      <button *ngIf="access_token_graph.length > 0" type="button" class="btn btn-primary" (click)="handleImplicitToken()">Implicit Log In</button>
    </table>
</div>
<router-outlet></router-outlet>